body{
    font-family:sans-serif;
    background:rgb(7, 5, 4);
    color:rgb(255, 215, 83);
    text-align:center;
    width:100%;
    margin:0 auto;
}

nav {
    background:rgb(56, 43, 33);
    color:rgb(255, 245, 211);
    padding:5px;
    line-height:1.6em;
    text-shadow:0 2px 2px rgb(7, 5, 4);
}

.content {
    background:rgb(7, 5, 4);
}

nav h1, p {
    margin:0;
}

h1 {
    font-size:24px;
    margin:12px auto 3px auto;
}

em{
    opacity:.65;
}

input{
    text-align:center;
    border:none;
    font-size:22px;
    padding:15px;
    background:rgb(56, 43, 33);
    color:rgb(255, 215, 83);
}

input::placeholder {
    color:rgb(255, 215, 83, .5);
}

button{
    width:75%;
    display:block;
    margin:20px auto;
    border:rgb(255, 215, 83) solid 4px;
    color:rgb(255, 215, 83);
    padding:15px;
    font-size:22px;
    background:inherit;

    transition: width .25s, border-color .25s;
}

button:hover{
    cursor:pointer;
    border-color:rgb(255, 215, 83, .5);
    width: 90%;
}